ettin/Data/data.4DD
ettin/Data/data.Match
ettin/Project/DerivedData/formAttributes.json
ettin/Project/DerivedData/methodAttributes.json
ettin/userPreferences.*
ettin/Project/Sources/settings.4DSettings
